'use strict';

// Each item of this array must contain the url and content to be searched
module.exports = [
  {
    url: 'https://www.google.com',
    content: "I'm Feeling Luck",
  },
  {
    url: 'https://www.facebook.com/login',
    content: 'Log in to Facebook',
  },
];
